In [72]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as sp
import csv

In [29]:
raw_data_path = 'data/'

prior = pd.read_csv(raw_data_path + 'results.csv')
fifa_dataset = pd.read_csv(raw_data_path + 'CompleteDataset.csv')

qualified_countries = ['Egypt', 'Morocco', 'Nigeria', 'Senegal', 'Tunisia', 'Australia', 'Iran', 'Japan', 'Korea Republic', 'Saudi Arabia', 'Belgium', 'Croatia', 'Denmark', 'England', 'France', 'Germany', 'Iceland', 'Poland', 'Portugal', 'Russia', 'Serbia', 'Spain', 'Sweden', 'Switzerland', 'Costa Rica', 'Mexico', 'Panama', 'Argentina', 'Brazil', 'Colombia', 'Peru', 'Uruguay']

In [30]:
fifa_dataset.drop(labels = ['Unnamed: 0', 'Age', 'Photo', 'Flag', 'Club', 'Club Logo', 'Wage'], axis = 1, inplace = True)

prior.drop(labels = ['city', 'country', 'tournament'], axis = 1, inplace = True)
prior = prior[prior.date > '1990-01-01']

In [31]:
# get qualified countries only
fifa_dataset = fifa_dataset[fifa_dataset['Nationality'].isin(qualified_countries)].fillna(0)

prior = prior[(prior['home_team'].isin(qualified_countries) & prior['away_team'].isin(qualified_countries))]

# get remaining potential
fifa_dataset['Remaining Potential'] = fifa_dataset['Potential'] - fifa_dataset['Overall']

# get only one preferred position (first only)
fifa_dataset['Preferred Position'] = fifa_dataset['Preferred Positions'].str.split().str[0]

In [32]:
squad_352_strict = ['GK', 'LB|LWB', 'CB', 'RB|RWB', 'LM|W$', 'RM|W$', 'CM', 'CM|CAM|CDM', 'CM|CAM|CDM', 'W$|T$', 'W$|T$']
squad_442_strict = ['GK', 'LB|LWB', 'CB', 'CB', 'RB|RWB', 'LM|W$', 'RM|W$', 'CM', 'CM|CAM|CDM', 'W$|T$', 'W$|T$']
squad_433_strict = ['GK', 'LB|LWB', 'CB', 'CB', 'RB|RWB', 'CM|LM|W$', 'CM|RM|W$', 'CM|CAM|CDM', 'W$|T$', 'W$|T$', 'W$|T$']
squad_343_strict = ['GK', 'LB|LWB', 'CB', 'RB|RWB', 'LM|W$', 'RM|W$', 'CM|CAM|CDM', 'CM|CAM|CDM', 'W$|T$', 'W$|T$', 'W$|T$']
squad_532_strict = ['GK', 'LB|LWB', 'CB|LWB|RWB', 'CB|LWB|RWB', 'CB|LWB|RWB', 'RB|RWB', 'M$|W$', 'M$|W$', 'M$|W$', 'W$|T$', 'W$|T$']

squad_352_adj = ['GK', 'B$', 'B$', 'B$', 'M$|W$|T$', 'M$|W$|T$', 'M$|W$|T$', 'M$|W$|T$', 'M$|W$|T$', 'W$|T$|M$', 'W$|T$|M$']
squad_442_adj = ['GK', 'B$', 'B$', 'B$', 'B$', 'M$|W$|T$', 'M$|W$|T$', 'M$|W$|T$', 'M$|W$|T$', 'W$|T$|M$', 'W$|T$|M$']
squad_433_adj = ['GK', 'B$', 'B$', 'B$', 'B$', 'M$|W$|T$', 'M$|W$|T$', 'M$|W$|T$', 'W$|T$|M$', 'W$|T$|M$', 'W$|T$|M$']
squad_343_adj = ['GK', 'B$', 'B$', 'B$', 'M$|W$|T$', 'M$|W$|T$', 'M$|W$|T$', 'M$|W$|T$', 'W$|T$|M$', 'W$|T$|M$', 'W$|T$|M$']
squad_532_adj = ['GK', 'B$', 'B$', 'B$', 'B$', 'B$', 'M$|W$|T$', 'M$|W$|T$', 'M$|W$|T$', 'W$|T$|M$', 'W$|T$|M$']

midfield = ['CDM', 'CM', 'RM', 'LM']
defense = ['GK', 'LB', 'CB', 'RB', 'LWB', 'RWB']
attack = ['LW', 'RW', 'ST', 'CAM']

squad_list_strict = [squad_352_strict, squad_442_strict, squad_433_strict, squad_343_strict, squad_532_strict]
squad_list_adj = [squad_352_adj, squad_442_adj, squad_433_adj, squad_343_adj, squad_532_adj]
squad_name = ['3-5-2', '4-4-2', '4-3-3', '3-4-3', '5-3-2']

In [33]:
def get_best_squad_n(position, nationality, df, measurement = 'Potential'):
    df_copy = df.copy()
    df_copy = df_copy[df_copy['Nationality'] == nationality]
    store = []
    team = []
    for i in position:
        store.append([df_copy.loc[[df_copy[df_copy['Preferred Position'].str.contains(i)][measurement].idxmax()]]['Preferred Position'].to_string(index = False), df_copy[df_copy['Preferred Position'].str.contains(i)][measurement].max()])
        team.append(df_copy.loc[[df_copy[df_copy['Preferred Position'].str.contains(i)][measurement].idxmax()]]['Name'].to_string(index = False))
        df_copy.drop(df_copy[df_copy['Preferred Position'].str.contains(i)][measurement].idxmax(), inplace = True)
    return np.mean([x[1] for x in store]).round(2), np.array(team), pd.DataFrame(np.array(store).reshape(11,2), columns = ['Position', measurement]).to_string(index = False)

def get_best_formation_all(squad_list, country):
    best_rating = 0
    best_squad, best_formation = [], []
    for i, formation in enumerate(squad_list):
        #curRating, cur_squad = get_best_squad_n(formation, country, fifa_dataset, 'Overall')
        potRating, pot_squad, squad_info = get_best_squad_n(formation, country, fifa_dataset, 'Potential')
        if potRating > best_rating:
            best_rating = potRating
            best_squad = pot_squad
            best_formation = squad_name[i]
    return best_rating, best_squad, best_formation, squad_info
    
def get_team_stats(squad_stats):
    midRating, defRating, attRating  = [], [], []
    for player in squad_stats.split('\n'):
        pos, rating = player.split()[0], player.split()[-1]
        if pos in midfield: midRating.append(float(rating))
        if pos in defense: defRating.append(float(rating))
        if pos in attack: attRating.append(float(rating))
    return np.mean(midRating).round(2), np.mean(defRating).round(2), np.mean(attRating).round(2)

In [34]:
# create data-set with team information
def make_team_dataframe():
    d = []
    for country in qualified_countries:
            best_rating, best_squad, best_formation, squad_stats = get_best_formation_all(squad_list_adj, country)
            mid_rating, def_rating, att_rating = get_team_stats(squad_stats)
            if best_rating > 84.0: tier = 1
            elif best_rating > 77.0: tier = 2
            else: tier = 3
            d.append({'Country': country, 'Rating': best_rating, 'Squad': best_squad, 'Defence': def_rating, 'Midfield': mid_rating, 'Attack': att_rating, 'Formation': best_formation,'Tier': tier})

    processed_data = pd.DataFrame(d).reindex_axis(['Country', 'Squad', 'Formation', 'Tier', 'Rating', 'Attack', 'Midfield', 'Defence'], axis = 1).set_index('Country')
    processed_data.to_csv('data/WC18_processed.csv', index_label = False)

In [22]:
d = []
for country in qualified_countries:
        best_rating, best_squad, best_formation, squad_stats = get_best_formation_all(squad_list_adj, country)
        mid_rating, def_rating, att_rating = get_team_stats(squad_stats)
        if best_rating > 84.0: tier = 1
        elif best_rating > 77.0: tier = 2
        else: tier = 3
        d.append({'Country': country, 'Rating': best_rating, 'Squad': best_squad, 'Defence': def_rating, 'Midfield': mid_rating, 'Attack': att_rating, 'Formation': best_formation,'Tier': tier})

processed_data = pd.DataFrame(d).reindex_axis(['Country', 'Squad', 'Formation', 'Tier', 'Rating', 'Attack', 'Midfield', 'Defence'], axis = 1).set_index('Country')
#print processed_data

                                                            Squad Formation  \
Country
Egypt           [A. El-Shenawy, A. Hegazy, K. Hafez, O. Gaber,...     3-5-2
Morocco         [Y. Bounou, M. Benatia, A. Hakimi, Z. Feddal, ...     3-5-2
Nigeria         [V. Enyeama, C. Awaziem, K. Omeruo, U. Agbo, O...     3-5-2
Senegal         [A. Gomis, K. Koulibaly, K. Mbodj, K. Mbodj, K...     3-5-2
Tunisia         [F. Ben Mustapha, A. Abdennour, Y. Benalouane,...     3-5-2
Australia       [M. Ryan, A. Gersbach, T. Sainsbury, B. Wright...     3-5-2
Iran            [A. Haghighi, M. Mohammadi, K. Ansarifard, K. ...     3-5-2
Japan           [K. Nakamura, G. Shoji, N. Ueda, M. Hasebe, Y....     3-5-2
Korea Republic  [Yoon Bo Sang, Kim Min Jae, An Hyeon Beom, Kim...     3-5-2
Saudi Arabia    [M. Al Owais, M. Hawsawi, O. Hawsawi, Y. Al Sh...     4-4-2
Belgium         [T. Courtois, T. Alderweireld, L. Dendoncker, ...     3-5-2
Croatia         [D. Subašić, T. Jedvaj, D. Lovren, S. Vrsaljko...     3-5-2
Denmark         [K. Schmeichel, J. Vestergaard, S. Kjær, F. Sø...     3-5-2
England         [J. Butland, M. Keane, A. Oxlade-Chamberlain, ...     3-5-2
France          [A. Lafont, R. Varane, A. Laporte, S. Umtiti, ...     3-5-2
Germany         [M. Neuer, N. Süle, J. Boateng, M. Hummels, J....     4-4-2
Iceland         [R. Rúnarsson, S. Ingason, H. Hermannsson, D. ...     3-5-2
Poland          [B. Drągowski, K. Glik, L. Piszczek, J. Bednar...     3-5-2
Portugal        [A. Lopes, Nélson Semedo, Pepe, Rúben Semedo, ...     3-5-2
Russia          [S. Kritsyuk, G. Dzhikiya, I. Kutepov, E. Nabi...     3-5-2
Serbia          [F. Manojlović, M. Nastasić, N. Maksimović, V....     3-5-2
Spain           [De Gea, Sergio Ramos, Héctor Bellerín, Piqué,...     3-5-2
Sweden          [P. Dahlberg, V. Lindelöf, L. Augustinsson, A....     3-5-2
Switzerland     [R. Bürki, R. Rodríguez, N. Elvedi, M. Akanji,...     3-5-2
Costa Rica      [K. Navas, G. González, K. Waston, F. Calvo, C...     4-4-2
Mexico          [G. Ochoa, D. Reyes, C. Montes, H. Moreno, J. ...     3-5-2
Panama          [R. Torres, A. Machado, H. Cummings, F. Escoba...     3-5-2
Argentina       [G. Rulli, M. Musacchio, E. Mammana, J. Foyth,...     3-5-2
Brazil          [Ederson, Marquinhos, Thiago Silva, Marcelo, N...     3-5-2
Colombia        [D. Ospina, D. Sánchez, J. Murillo, J. Lerma, ...     3-5-2
Peru            [P. Gallese, C. Zambrano, A. Callens, A. Rodrí...     3-5-2
Uruguay         [F. Muslera, D. Godín, J. Giménez, M. Saracchi...     3-5-2

                Tier  Rating  Attack  Midfield  Defence
Country
Egypt              2   79.00   82.33     83.00    74.17
Morocco            2   81.55   84.00     82.50    78.83
Nigeria            2   82.82   84.50     85.33    79.00
Senegal            1   84.18   87.25     84.00    81.17
Tunisia            3   74.45   78.00     76.00    72.33
Australia          2   77.82   77.33     78.50    77.50
Iran               3   76.55   79.75     79.00    71.67
Japan              2   79.55   80.50     81.00    77.67
Korea Republic     2   80.36   82.00     79.00    78.83
Saudi Arabia       2   77.45   79.33     77.00    76.50
Belgium            1   88.64   90.33     91.00    86.33
Croatia            1   85.55   86.00     87.50    83.00
Denmark            1   84.55   85.50     87.67    81.67
England            1   87.64   90.00     89.00    85.50
France             1   90.73   92.33     91.50    89.00
Germany            1   88.82   88.00     89.67    88.50
Iceland            3   75.82   75.50     77.67    74.67
Poland             1   84.64   88.50     85.00    81.67
Portugal           1   87.73   90.00     89.50    85.33
Russia             2   81.82   82.00     83.33    80.50
Serbia             2   83.45   85.50     84.00    82.00
Spain              1   89.45   90.50     90.00    88.50
Sweden             2   82.64   84.00     85.00    80.83
Switzerland        1   84.45   85.67     85.50    83.33
Costa Rica         3   75.91   80.00     75.75    75.17
Mexico             2   82.45   85.00     83.75    80.33
Panama             3   70.91   72.00     71.67    68.17
Argentina          1   89.00   91.25     90.00    85.67
Brazil             1   89.09   91.67     88.50    87.50
Colombia           2   83.64   83.50     89.00    82.67
Peru               3   76.91   77.50     78.33    74.83
Uruguay            1   85.45   89.50     84.33    84.50

In [77]:
#pdata = make_team_dataframe()
#print pdata#.head(10)
# for each team: goals scored, goals allowed, wins, loses, win difference, per year
# for each year: total num goals, goal differential,
#team.append(df_copy.loc[[df_copy[df_copy['Preferred Position'].str.contains(i)][measurement].idxmax()]]['Name'].to_string(index = False))

#print prior.head(5)
pGF = prior[(prior['home_team'] == 'Germany') & (prior['away_team'] == 'France')]['home_score'].to_string(index = False).split('\n')
#sp.mode(np.array(map(int, pGF)))
m, count = sp.mode(map(int, pGF))
print m
#pGF = np.mean(prior[(prior['home_team'] == 'Germany') & (prior['away_team'] == 'France')]['away_score'].to_string(index = False))
#pFG = prior[(prior['home_team'] == 'France') & (prior['away_team'] == 'Germany')]

#[fifa_dataset[fifa_dataset['Preferred Position'].str.contains('RM')]['Potential'].idxmax()]
#fifa_dataset[fifa_dataset['Preferred Position'].str.contains('GK')]
#,'-', prior[(prior['home_team'] == 'Germany') & (prior['away_team'] == 'France')]
#print prior[(prior.home_team == 'Germany') & (prior.away_team == 'France')]#.home_score
#print prior[(prior['home_team'] == 'Germany') & (prior['away_team'] == 'France')]
#for g in prior[(prior['home_team'] == 'Germany') & (prior['away_team'] == 'France')].iterrows():
#    print g#.home_score, '-', g.away_score
#prior[(prior['home_team'] == 'Germany') & (prior['away_team'] == 'France')].home_score

[0]

In [27]:
for countryA in qualified_countries:
    for countryB in qualified_countries:
        if countryA == countryB: continue
        print #countryA, ' vs ', countryB
        print prior[(prior['home_team'] == countryA) & (prior['away_team'] == countryB)]#.home_score.get_value(), '-', prior[(prior['home_team'] == countryA) & (prior['away_team'] == countryB)].away_score
    


# --------
def single_game(A, B):
    xAB = prior[prior.home_team == A].home_score

             date home_team away_team  home_score  away_score
23310  2001-01-28     Egypt   Morocco           0           0
27746  2006-01-24     Egypt   Morocco           0           0
37951  2017-01-29     Egypt   Morocco           1           0

             date home_team away_team  home_score  away_score
31436  2010-01-12     Egypt   Nigeria           3           1
33470  2012-04-12     Egypt   Nigeria           3           2
37185  2016-03-29     Egypt   Nigeria           1           0

             date home_team away_team  home_score  away_score
22268  2000-01-28     Egypt   Senegal           1           0
23675  2001-05-06     Egypt   Senegal           1           0
24282  2002-01-20     Egypt   Senegal           0           1
25647  2003-10-10     Egypt   Senegal           1           0
27718  2005-12-29     Egypt   Senegal           4           2
27778  2006-02-07     Egypt   Senegal           2           1
35957  2014-11-15     Egypt   Senegal           0           1

             date home_team away_team  home_score  away_score
22312  2000-02-07     Egypt   Tunisia           0           1
24300  2002-01-25     Egypt   Tunisia           1           0
27636  2005-11-16     Egypt   Tunisia           1           2
34053  2012-10-16     Egypt   Tunisia           0           1
35750  2014-09-10     Egypt   Tunisia           0           1
37897  2017-01-08     Egypt   Tunisia           1           0

             date home_team  away_team  home_score  away_score
32126  2010-11-17     Egypt  Australia           3           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team       away_team  home_score  away_score
22762  2000-06-09     Egypt  Korea Republic           0           1
23648  2001-04-26     Egypt  Korea Republic           1           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
27002  2005-02-09     Egypt   Belgium           4           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
25030  2003-02-12     Egypt   Denmark           1           4

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
25796  2003-11-18     Egypt    Sweden           1           0
28614  2007-02-07     Egypt    Sweden           2           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
29667  2008-03-26     Egypt  Argentina           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
28140  2006-08-16     Egypt   Uruguay           0           2

             date home_team away_team  home_score  away_score
23868  2001-06-30   Morocco     Egypt           1           0

             date home_team away_team  home_score  away_score
35282  2014-01-25   Morocco   Nigeria           3           4

             date home_team away_team  home_score  away_score
23382  2001-02-24   Morocco   Senegal           0           0
25043  2003-02-12   Morocco   Senegal           1           0
29428  2007-11-21   Morocco   Senegal           3           0
33499  2012-05-25   Morocco   Senegal           0           1

             date home_team away_team  home_score  away_score
23483  2001-03-24   Morocco   Tunisia           2           0
26578  2004-09-04   Morocco   Tunisia           1           1
28624  2007-02-07   Morocco   Tunisia           1           1
33323  2012-01-23   Morocco   Tunisia           1           2
34777  2013-07-13   Morocco   Tunisia           0           0
36460  2015-06-15   Morocco   Tunisia           1           1
38070  2017-03-28   Morocco   Tunisia           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team       away_team  home_score  away_score
23337  2001-02-08   Morocco  Korea Republic           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
22751  2000-06-06   Morocco    France           1           5

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team    away_team  home_score  away_score
26003  2004-02-18   Morocco  Switzerland           2           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
26147  2004-04-28   Morocco  Argentina           0           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
36232  2015-03-28   Morocco   Uruguay           0           1

             date home_team away_team  home_score  away_score
24894  2002-11-25   Nigeria     Egypt           1           1
37135  2016-03-25   Nigeria     Egypt           1           1

             date home_team away_team  home_score  away_score
22294  2000-02-03   Nigeria   Morocco           2           0
25927  2004-01-27   Nigeria   Morocco           0           1

             date home_team away_team  home_score  away_score
22313  2000-02-07   Nigeria   Senegal           2           1
24329  2002-02-07   Nigeria   Senegal           1           2
27770  2006-01-31   Nigeria   Senegal           2           1
37986  2017-03-23   Nigeria   Senegal           1           1

             date home_team away_team  home_score  away_score
22251  2000-01-23   Nigeria   Tunisia           4           2
27776  2006-02-04   Nigeria   Tunisia           1           1
31119  2009-09-06   Nigeria   Tunisia           2           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team       away_team  home_score  away_score
31709  2010-06-22   Nigeria  Korea Republic           2           2

             date home_team     away_team  home_score  away_score
31598  2010-05-25   Nigeria  Saudi Arabia           0           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24570  2002-06-12   Nigeria   England           0           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
34745  2013-06-23   Nigeria     Spain           0           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
32528  2011-06-01   Nigeria  Argentina           4           1
35575  2014-06-25   Nigeria  Argentina           2           3

             date home_team away_team  home_score  away_score
25361  2003-06-11   Nigeria    Brazil           0           3

             date home_team away_team  home_score  away_score
31631  2010-05-30   Nigeria  Colombia           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
34740  2013-06-20   Nigeria   Uruguay           1           2

             date home_team away_team  home_score  away_score
22887  2000-07-09   Senegal     Egypt           0           0
35676  2014-09-05   Senegal     Egypt           2           0

             date home_team away_team  home_score  away_score
23900  2001-07-14   Senegal   Morocco           1           0
32783  2011-08-10   Senegal   Morocco           0           2

             date home_team away_team  home_score  away_score
24798  2002-10-12   Senegal   Nigeria           2           2
27782  2006-02-09   Senegal   Nigeria           0           1

             date home_team away_team  home_score  away_score
24319  2002-01-31   Senegal   Tunisia           0           0
35797  2014-10-10   Senegal   Tunisia           0           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24569  2002-06-11   Senegal   Uruguay           3           3

             date home_team away_team  home_score  away_score
24889  2002-11-20   Tunisia     Egypt           0           0
36034  2014-11-19   Tunisia     Egypt           2           1

             date home_team away_team  home_score  away_score
22274  2000-01-29   Tunisia   Morocco           0           0
23268  2001-01-13   Tunisia   Morocco           0           1
25681  2003-10-11   Tunisia   Morocco           0           0
25974  2004-02-14   Tunisia   Morocco           2           1
27549  2005-10-08   Tunisia   Morocco           2           2
36844  2015-10-25   Tunisia   Morocco           2           3

             date home_team away_team  home_score  away_score
25966  2004-02-11   Tunisia   Nigeria           1           1
30949  2009-06-20   Tunisia   Nigeria           0           0
37039  2016-01-22   Tunisia   Nigeria           1           1

             date home_team away_team  home_score  away_score
22775  2000-06-11   Tunisia   Senegal           4           1
25262  2003-04-30   Tunisia   Senegal           1           0
25959  2004-02-07   Tunisia   Senegal           1           0
29521  2008-01-23   Tunisia   Senegal           2           2
35892  2014-10-15   Tunisia   Senegal           1           0
37917  2017-01-15   Tunisia   Senegal           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24581  2002-06-14   Tunisia     Japan           0           2
25643  2003-10-08   Tunisia     Japan           0           1

             date home_team       away_team  home_score  away_score
24384  2002-03-13   Tunisia  Korea Republic           0           0

             date home_team     away_team  home_score  away_score
28039  2006-06-14   Tunisia  Saudi Arabia           2           2
31249  2009-10-14   Tunisia  Saudi Arabia           0           1

             date home_team away_team  home_score  away_score
24565  2002-06-10   Tunisia   Belgium           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24687  2002-08-21   Tunisia    France           1           1
31633  2010-05-30   Tunisia    France           1           1

             date home_team away_team  home_score  away_score
27308  2005-06-18   Tunisia   Germany           0           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
27859  2006-03-01   Tunisia    Serbia           0           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
25051  2003-02-12   Tunisia    Sweden           1           0

             date home_team    away_team  home_score  away_score
23216  2000-11-15   Tunisia  Switzerland           1           1
34160  2012-11-14   Tunisia  Switzerland           1           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
33438  2012-02-29   Tunisia      Peru           1           1

             date home_team away_team  home_score  away_score
28000  2006-06-02   Tunisia   Uruguay           0           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date  home_team away_team  home_score  away_score
29362  2007-11-17  Australia   Nigeria           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date  home_team away_team  home_score  away_score
27319  2005-06-21  Australia   Tunisia           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date  home_team away_team  home_score  away_score
28031  2006-06-12  Australia     Japan           3           1
30933  2009-06-17  Australia     Japan           2           1
32318  2011-01-29  Australia     Japan           0           1
33671  2012-06-12  Australia     Japan           1           1
37714  2016-10-11  Australia     Japan           1           1

             date  home_team       away_team  home_score  away_score
23067  2000-10-07  Australia  Korea Republic           2           4
32277  2011-01-14  Australia  Korea Republic           1           1
36103  2015-01-17  Australia  Korea Republic           0           1

             date  home_team     away_team  home_score  away_score
33378  2012-02-29  Australia  Saudi Arabia           4           2
35716  2014-09-08  Australia  Saudi Arabia           3           2
38148  2017-06-08  Australia  Saudi Arabia           3           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date  home_team away_team  home_score  away_score
28596  2007-02-06  Australia   Denmark           1           3
31635  2010-06-01  Australia   Denmark           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date  home_team away_team  home_score  away_score
23749  2001-06-01  Australia    France           1           0
24168  2001-11-11  Australia    France           1           1

             date  home_team away_team  home_score  away_score
38247  2017-06-19  Australia   Germany           2           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date  home_team away_team  home_score  away_score
31710  2010-06-23  Australia    Serbia           2           1
32584  2011-06-07  Australia    Serbia           0           0

             date  home_team away_team  home_score  away_score
35563  2014-06-23  Australia     Spain           0           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date  home_team   away_team  home_score  away_score
35162  2013-11-19  Australia  Costa Rica           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date  home_team  away_team  home_score  away_score
27299  2005-06-18  Australia  Argentina           2           4
29189  2007-09-11  Australia  Argentina           0           1

             date  home_team away_team  home_score  away_score
23829  2001-06-09  Australia    Brazil           1           0
38214  2017-06-13  Australia    Brazil           0           4

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date  home_team away_team  home_score  away_score
24193  2001-11-20  Australia   Uruguay           1           0
27632  2005-11-16  Australia   Uruguay           1           0
28807  2007-06-02  Australia   Uruguay           1           2

             date home_team away_team  home_score  away_score
22756  2000-06-07      Iran     Egypt           1           1

             date home_team away_team  home_score  away_score
24761  2002-09-17      Iran   Morocco           1           1

             date home_team away_team  home_score  away_score
35541  2014-06-16      Iran   Nigeria           0           0

             date home_team away_team  home_score  away_score
30786  2009-04-01      Iran   Senegal           1           1

             date home_team away_team  home_score  away_score
33783  2012-08-15      Iran   Tunisia           2           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
27081  2005-03-25      Iran     Japan           2           1
36798  2015-10-13      Iran     Japan           1           1

             date home_team       away_team  home_score  away_score
23156  2000-10-23      Iran  Korea Republic           1           2
23615  2001-04-24      Iran  Korea Republic           0           1
28443  2006-11-15      Iran  Korea Republic           2           0
29040  2007-07-22      Iran  Korea Republic           0           0
30668  2009-02-11      Iran  Korea Republic           1           1
32310  2011-01-22      Iran  Korea Republic           0           1
34060  2012-10-16      Iran  Korea Republic           1           0
36003  2014-11-18      Iran  Korea Republic           1           0
37722  2016-10-11      Iran  Korea Republic           1           0

             date home_team     away_team  home_score  away_score
23998  2001-08-24      Iran  Saudi Arabia           2           0
30731  2009-03-28      Iran  Saudi Arabia           1           2
34238  2012-12-09      Iran  Saudi Arabia           0           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
26684  2004-10-09      Iran   Germany           0           2

             date home_team away_team  home_score  away_score
31285  2009-11-10      Iran   Iceland           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
32346  2011-02-09      Iran    Russia           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team   away_team  home_score  away_score
27834  2006-03-01      Iran  Costa Rica           3           2
29547  2008-01-30      Iran  Costa Rica           0           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
26924  2004-12-18      Iran    Panama           1           0
38595  2017-11-09      Iran    Panama           2           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
31956  2010-10-07      Iran    Brazil           0           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
29304  2007-10-17     Japan     Egypt           4           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24116  2001-10-07     Japan   Nigeria           2           2
25517  2003-08-20     Japan   Nigeria           3           0

             date home_team away_team  home_score  away_score
24084  2001-10-04     Japan   Senegal           0           2
25588  2003-09-10     Japan   Senegal           0           1

             date home_team away_team  home_score  away_score
36209  2015-03-27     Japan   Tunisia           2           0

             date home_team  away_team  home_score  away_score
23825  2001-06-07     Japan  Australia           1           0
23979  2001-08-15     Japan  Australia           3           0
29039  2007-07-21     Japan  Australia           1           1
30671  2009-02-11     Japan  Australia           0           0
34620  2013-06-04     Japan  Australia           1           1
34803  2013-07-25     Japan  Australia           3           2
36006  2014-11-18     Japan  Australia           2           1
38357  2017-08-31     Japan  Australia           2           0


             date       home_team away_team  home_score  away_score
24515  2002-05-21  Korea Republic   England           1           1

             date       home_team away_team  home_score  away_score
24528  2002-05-26  Korea Republic    France           2           3

             date       home_team away_team  home_score  away_score
26929  2004-12-19  Korea Republic   Germany           3           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date       home_team away_team  home_score  away_score
24543  2002-06-04  Korea Republic    Poland           2           0
33013  2011-10-07  Korea Republic    Poland           2           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date       home_team away_team  home_score  away_score
22699  2000-05-28  Korea Republic    Serbia           0           0
22705  2000-05-30  Korea Republic    Serbia           0           0
27641  2005-11-16  Korea Republic    Serbia           2           0
31349  2009-11-18  Korea Republic    Serbia           0           1
32538  2011-06-03  Korea Republic    Serbia           2           1
38669  2017-11-14  Korea Republic    Serbia           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date       home_team away_team  home_score  away_score
27613  2005-11-12  Korea Republic    Sweden           2           2

             date       home_team    away_team  home_score  away_score
35131  2013-11-15  Korea Republic  Switzerland           2           1

             date       home_team   away_team  home_score  away_score
22362  2000-02-17  Korea Republic  Costa Rica           2           2
24467  2002-04-21  Korea Republic  Costa Rica           2           0
35870  2014-10-14  Korea Republic  Costa Rica           1           3

             date       home_team away_team  home_score  away_score
23752  2001-06-01  Korea Republic    Mexico           2           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date       home_team  away_team  home_score  away_score
25358  2003-06-11  Korea Republic  Argentina           0           1

             date       home_team away_team  home_score  away_score
24878  2002-11-20  Korea Republic    Brazil           2           3
35052  2013-10-12  Korea Republic    Brazil           0           2

             date       home_team away_team  home_score  away_score
25161  2003-03-29  Korea Republic  Colombia           0           0
38609  2017-11-10  Korea Republic  Colombia           2           1

             date       home_team away_team  home_score  away_score
34844  2013-08-14  Korea Republic      Peru           0           0

             date       home_team away_team  home_score  away_score
25338  2003-06-08  Korea Republic   Uruguay           0           2
28692  2007-03-24  Korea Republic   Uruguay           0           2
35719  2014-09-08  Korea Republic   Uruguay           0           1

             date     home_team away_team  home_score  away_score
27072  2005-03-14  Saudi Arabia     Egypt           0           1

             date     home_team away_team  home_score  away_score
33711  2012-06-18  Saudi Arabia   Morocco           4           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date     home_team away_team  home_score  away_score
24487  2002-05-14  Saudi Arabia   Senegal           3           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date     home_team  away_team  home_score  away_score
32956  2011-09-06  Saudi Arabia  Australia           1           3
37645  2016-10-06  Saudi Arabia  Australia           2           2

             date     home_team away_team  home_score  away_score
24082  2001-09-28  Saudi Arabia      Iran           2           2
30222  2008-09-06  Saudi Arabia      Iran           1           1

             date     home_team away_team  home_score  away_score
23140  2000-10-14  Saudi Arabia     Japan           1           4
28227  2006-09-03  Saudi Arabia     Japan           1           0
32295  2011-01-17  Saudi Arabia     Japan           0           5
38441  2017-09-05  Saudi Arabia     Japan           1           0

             date     home_team       away_team  home_score  away_score
27084  2005-03-25  Saudi Arabia  Korea Republic           2           0
30495  2008-11-19  Saudi Arabia  Korea Republic           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date     home_team away_team  home_score  away_score
24362  2002-02-13  Saudi Arabia   Denmark           0           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date     home_team away_team  home_score  away_score
24256  2002-01-10  Saudi Arabia   Iceland           1           0

             date     home_team away_team  home_score  away_score
27873  2006-03-28  Saudi Arabia    Poland           1           2

             date     home_team away_team  home_score  away_score
27854  2006-03-01  Saudi Arabia  Portugal           0           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date     home_team away_team  home_score  away_score
28067  2006-06-23  Saudi Arabia     Spain           0           1

             date     home_team away_team  home_score  away_score
27732  2006-01-18  Saudi Arabia    Sweden           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date     home_team  away_team  home_score  away_score
34154  2012-11-14  Saudi Arabia  Argentina           0           0

             date     home_team away_team  home_score  away_score
24327  2002-02-06  Saudi Arabia    Brazil           0           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date     home_team away_team  home_score  away_score
24425  2002-03-27  Saudi Arabia   Uruguay           3           2
35796  2014-10-10  Saudi Arabia   Uruguay           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
29658  2008-03-26   Belgium   Morocco           1           4

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
35516  2014-06-07   Belgium   Tunisia           1           0

             date home_team  away_team  home_score  away_score
35660  2014-09-04   Belgium  Australia           2           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
35165  2013-11-19   Belgium     Japan           2           3
38680  2017-11-14   Belgium     Japan           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team     away_team  home_score  away_score
27922  2006-05-11   Belgium  Saudi Arabia           2           1

             date home_team away_team  home_score  away_score
22991  2000-09-02   Belgium   Croatia           0           0
25579  2003-09-10   Belgium   Croatia           2           1
31512  2010-03-03   Belgium   Croatia           0           1
33896  2012-09-11   Belgium   Croatia           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
25980  2004-02-18   Belgium    France           0           2
34826  2013-08-14   Belgium    France           0           0

             date home_team away_team  home_score  away_score
31811  2010-09-03   Belgium   Germany           0           1

             date home_team away_team  home_score  away_score
35918  2014-11-12   Belgium   Iceland           3           1

             date home_team away_team  home_score  away_score
25234  2003-04-30   Belgium    Poland           3           1
28429  2006-11-15   Belgium    Poland           0           1

             date home_team away_team  home_score  away_score
22379  2000-02-23   Belgium  Portugal           1           1
28811  2007-06-02   Belgium  Portugal           1           2

             date home_team away_team  home_score  away_score
24578  2002-06-14   Belgium    Russia           3           2
35559  2014-06-22   Belgium    Russia           1           0

             date home_team away_team  home_score  away_score
26795  2004-11-17   Belgium    Serbia           0           2
29067  2007-08-22   Belgium    Serbia           3           2
34639  2013-06-07   Belgium    Serbia           2           1

             date home_team away_team  home_score  away_score
27512  2005-10-08   Belgium     Spain           0           2
30382  2008-10-15   Belgium     Spain           1           2
37528  2016-09-01   Belgium     Spain           0           2

             date home_team away_team  home_score  away_score
22764  2000-06-10   Belgium    Sweden           2           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team   away_team  home_score  away_score
24525  2002-05-26   Belgium  Costa Rica           1           0

             date home_team away_team  home_score  away_score
38615  2017-11-10   Belgium    Mexico           3           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
35113  2013-11-14   Belgium  Colombia           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
28063  2006-06-22   Croatia  Australia           2           2
35509  2014-06-06   Croatia  Australia           1           0

             date home_team away_team  home_score  away_score
27964  2006-05-28   Croatia      Iran           2           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team       away_team  home_score  away_score
34386  2013-02-06   Croatia  Korea Republic           4           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24091  2001-10-06   Croatia   Belgium           1           0
25152  2003-03-29   Croatia   Belgium           4           0
35022  2013-10-11   Croatia   Belgium           1           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
26389  2004-06-21   Croatia   England           2           4
28373  2006-10-11   Croatia   England           2           0
30252  2008-09-10   Croatia   England           1           4

             date home_team away_team  home_score  away_score
22696  2000-05-28   Croatia    France           0           2
26353  2004-06-17   Croatia    France           2           2

             date home_team away_team  home_score  away_score
22477  2000-03-29   Croatia   Germany           1           1
25982  2004-02-18   Croatia   Germany           1           2
29933  2008-06-12   Croatia   Germany           2           1

             date home_team away_team  home_score  away_score
27093  2005-03-26   Croatia   Iceland           4           0
35169  2013-11-19   Croatia   Iceland           2           0
37799  2016-11-12   Croatia   Iceland           2           0

             date home_team away_team  home_score  away_score
25027  2003-02-12   Croatia    Poland           0           0
28001  2006-06-03   Croatia    Poland           0           1

             date home_team away_team  home_score  away_score
34681  2013-06-10   Croatia  Portugal           0           1
37477  2016-06-25   Croatia  Portugal           0           1

             date home_team away_team  home_score  away_score
28869  2007-06-06   Croatia    Russia           0           0

             date home_team away_team  home_score  away_score
34479  2013-03-22   Croatia    Serbia           2           0

             date home_team away_team  home_score  away_score
22381  2000-02-23   Croatia     Spain           0           0
33709  2012-06-18   Croatia     Spain           0           1
37461  2016-06-21   Croatia     Spain           2           1

             date home_team away_team  home_score  away_score
27521  2005-10-08   Croatia    Sweden           1           0
33387  2012-02-29   Croatia    Sweden           1           3

             date home_team    away_team  home_score  away_score
33771  2012-08-15   Croatia  Switzerland           2           4

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24539  2002-06-03   Croatia    Mexico           0           1
35565  2014-06-23   Croatia    Mexico           1           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
27384  2005-08-17   Croatia    Brazil           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24548  2002-06-06   Denmark   Senegal           1           1
31609  2010-05-27   Denmark   Senegal           2           0

             date home_team away_team  home_score  away_score
24527  2002-05-26   Denmark   Tunisia           2           1

             date home_team  away_team  home_score  away_score
33566  2012-06-02   Denmark  Australia           2           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
31715  2010-06-24   Denmark     Japan           1           3

             date home_team       away_team  home_score  away_score
31294  2009-11-14   Denmark  Korea Republic           0           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
22721  2000-06-03   Denmark   Belgium           2           2

             date home_team away_team  home_score  away_score
26277  2004-06-05   Denmark   Croatia           1           2

             date home_team away_team  home_score  away_score
24582  2002-06-15   Denmark   England           0           3
27385  2005-08-17   Denmark   England           4           1
32339  2011-02-09   Denmark   England           1           2

             date home_team away_team  home_score  away_score
24567  2002-06-11   Denmark    France           2           0
36760  2015-10-11   Denmark    France           1           2

             date home_team away_team  home_score  away_score
23200  2000-11-15   Denmark   Germany           2           1
31762  2010-08-11   Denmark   Germany           2           2
33705  2012-06-17   Denmark   Germany           1           2
38131  2017-06-06   Denmark   Germany           1           1

             date home_team away_team  home_score  away_score
24093  2001-10-06   Denmark   Iceland           6           0
29416  2007-11-21   Denmark   Iceland           3           0
31876  2010-09-07   Denmark   Iceland           1           0
37092  2016-03-24   Denmark   Iceland           2           1

             date home_team away_team  home_score  away_score
24868  2002-11-20   Denmark    Poland           2           0
28139  2006-08-16   Denmark    Poland           2           0
38385  2017-09-01   Denmark    Poland           4           0

             date home_team away_team  home_score  away_score
28182  2006-09-01   Denmark  Portugal           4           2
31084  2009-09-05   Denmark  Portugal           1           1
33064  2011-10-11   Denmark  Portugal           2           1
33685  2012-06-13   Denmark  Portugal           2           3
35862  2014-10-14   Denmark  Portugal           0           1

             date home_team away_team  home_score  away_score
33389  2012-02-29   Denmark    Russia           0           2

             date home_team away_team  home_score  away_score
36418  2015-06-13   Denmark    Serbia           2           0

             date home_team away_team  home_score  away_score
29251  2007-10-13   Denmark     Spain           1           3
30124  2008-08-20   Denmark     Spain           0           3

             date home_team away_team  home_score  away_score
22615  2000-04-26   Denmark    Sweden           0           1
26393  2004-06-22   Denmark    Sweden           2           2
28815  2007-06-02   Denmark    Sweden           0           3
31180  2009-10-10   Denmark    Sweden           1           0
33128  2011-11-11   Denmark    Sweden           2           0
35432  2014-05-28   Denmark    Sweden           1           0
36938  2015-11-17   Denmark    Sweden           2           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame

36893  2015-11-13    France   Germany           2           0

             date home_team away_team  home_score  away_score
33523  2012-05-27    France   Iceland           3           2
37496  2016-07-03    France   Iceland           5           2

             date home_team away_team  home_score  away_score
22384  2000-02-23    France    Poland           1           0
26800  2004-11-17    France    Poland           0           0

             date home_team away_team  home_score  away_score
22842  2000-06-28    France  Portugal           2           1
23624  2001-04-25    France  Portugal           4           0
35812  2014-10-11    France  Portugal           2           1

             date home_team away_team  home_score  away_score
24446  2002-04-17    France    Russia           0           0
37189  2016-03-29    France    Russia           4           2

             date home_team away_team  home_score  away_score
24871  2002-11-20    France    Serbia           3           0
30255  2008-09-10    France    Serbia           2           1
33542  2012-05-31    France    Serbia           2           0
36653  2015-09-07    France    Serbia           2           1

             date home_team away_team  home_score  away_score
31517  2010-03-03    France     Spain           0           2
34550  2013-03-26    France     Spain           0           1
35664  2014-09-04    France     Spain           1           0
38055  2017-03-28    France     Spain           0           2

             date home_team away_team  home_score  away_score
27004  2005-02-09    France    Sweden           1           1
36000  2014-11-18    France    Sweden           1           0
37784  2016-11-11    France    Sweden           2           1

             date home_team    away_team  home_score  away_score
27099  2005-03-26    France  Switzerland           0           0
28035  2006-06-13    France  Switzerland           0           0

             date home_team   away_team  home_score  away_score
27603  2005-11-09    France  Costa Rica           3           2
31604  2010-05-26    France  Costa Rica           2           1

             date home_team away_team  home_score  away_score
23789  2001-06-03    France    Mexico           4           0
27954  2006-05-27    France    Mexico           1           0
31686  2010-06-17    France    Mexico           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
28616  2007-02-07    France  Argentina           0           1
30665  2009-02-11    France  Argentina           0           2

             date home_team away_team  home_score  away_score
23824  2001-06-07    France    Brazil           2           1
26196  2004-05-20    France    Brazil           0           0
32341  2011-02-09    France    Brazil           1           0
36196  2015-03-26    France    Brazil           1           3

             date home_team away_team  home_score  away_score
25373  2003-06-18    France  Colombia           1           0
29854  2008-06-03    France  Colombia           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24549  2002-06-06    France   Uruguay           0           0
30474  2008-11-19    France   Uruguay           0           0
33778  2012-08-15    France   Uruguay           0           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
27295  2005-06-15   Germany  Australia           4           3
31674  2010-06-13   Germany  Australia           4           0
32469  2011-03-29   Germany  Australia           1           2
36187  2015-03-25   Germany  Australia           2           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
27976  2006-05-30   Germany     Japan           2           2

             date home_team       away_team  home_score  away_score
24596  2002-06-25   Germany  Korea Republic           1           0

             date home_team     away_team  home_score  away_score
24531  2002-06-01   Germany  Saudi Arabia           8           0

             date home_team away_team  home_score  away_score
26074  2004-03-31   Germany   Belgium           3           0
30128  2008-08-20   Germany   Belgium           2           0
33070  2011-10-11   Germany   Belgium           3           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
28740  2007-03-28   Germany   Denmark           0           1

             date home_team away_team  home_score  away_score
24013  2001-09-01   Germany   England           1           5
30475  2008-11-19   Germany   England           1           2
31726  2010-06-27   Germany   England           4           1
37152  2016-03-26   Germany   England           2           3
37972  2017-03-22   Germany   England           1           0

             date home_team away_team  home_score  away_score
25761  2003-11-15   Germany    France           0           3
33397  2012-02-29   Germany    France           1           2
37499  2016-07-07   Germany    France           0           2
38681  2017-11-14   Germany    France           2           2

             date home_team away_team  home_score  away_score
25662  2003-10-11   Germany   Iceland           3           0

             date home_team away_team  home_score  away_score
28037  2006-06-14   Germany    Poland           1           0
29908  2008-06-08   Germany    Poland           2           0
35375  2014-05-13   Germany    Poland           0           0
36600  2015-09-04   Germany    Poland           3           1
37439  2016-06-16   Germany    Poland           0           0

             date home_team away_team  home_score  away_score
28095  2006-07-08   Germany  Portugal           3           1
33643  2012-06-09   Germany  Portugal           1           0
35539  2014-06-16   Germany  Portugal           4           0

             date home_team away_team  home_score  away_score
27263  2005-06-08   Germany    Russia           2           2
30328  2008-10-11   Germany    Russia           2           1

             date home_team away_team  home_score  away_score
25242  2003-04-30   Germany    Serbia           1           0
29811  2008-05-31   Germany    Serbia           2           1
31689  2010-06-18   Germany    Serbia           0           1

             date home_team away_team  home_score  away_score
22957  2000-08-16   Germany     Spain           4           1
30054  2008-06-29   Germany     Spain           0           1
31739  2010-07-07   Germany     Spain           0           1

             date home_team away_team  home_score  away_score
28072  2006-06-24   Germany    Sweden           2           0
28145  2006-08-16   Germany    Sweden           3           0
34055  2012-10-16   Germany    Sweden           4           4

             date home_team    away_team  home_score  away_score
22617  2000-04-26   Germany  Switzerland           1           1
28618  2007-02-07   Germany  Switzerland           3           1

             date home_team   away_team  home_score  away_score
28023  2006-06-09   Germany  Costa Rica           4           2

             date home_team away_team  home_score  away_score
27327  2005-06-29   Germany    Mexico           4           3
38270  2017-06-29   Germany    Mexico           4           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
24447  2002-04-17   Germany  Argentina           0           1
27006  2005-02-09   Germany  Argentina           2           2
28085  2006-06-30   Germany  Argentina           1           1
31519  2010-03-03   Germany  Argentina           0           1
33779  2012-08-15   Germany  Argentina           1           3
35600  2014-07-13   Germany  Argentina           1           0
35648  2014-09-03   Germany  Argentina           2           4

             date home_team away_team  home_score  away_score
24601  2002-06-30   Germany    Brazil           0           2
26614  2004-09-08   Germany    Brazil           1           1
27323  2005-06-25   Germany    Brazil           2           3
32760  2011-08-10   Germany    Brazil           3           2

             date home_team away_team  home_score  away_score
27995  2006-06-02   Germany  Colombia           3           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
32519  2011-05-29   Germany   Uruguay           2           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
26235  2004-05-30   Iceland     Japan           2           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
27436  2005-09-03   Iceland   Croatia           1           3
35126  2013-11-15   Iceland   Croatia           0           0
38200  2017-06-11   Iceland   Croatia           1           0

             date home_team away_team  home_score  away_score
23002  2000-09-02   Iceland   Denmark           1           2
28250  2006-09-06   Iceland   Denmark           0           2
32550  2011-06-04   Iceland   Denmark           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
25554  2003-09-06   Iceland   Germany           0           0

             date home_team away_team  home_score  away_score
23977  2001-08-15   Iceland    Poland           1           1

             date home_team away_team  home_score  away_score
32041  2010-10-12   Iceland  Portugal           1           3

             date home_team away_team  home_score  away_score
34393  2013-02-06   Iceland    Russia           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
28124  2006-08-15   Iceland     Spain           0           0
29151  2007-09-08   Iceland     Spain           1           1

             date home_team away_team  home_score  away_score
22959  2000-08-16   Iceland    Sweden           2           1
26728  2004-10-13   Iceland    Sweden           1           4
28376  2006-10-11   Iceland    Sweden           1           2
35275  2014-01-21   Iceland    Sweden           0           2

             date home_team    away_team  home_score  away_score
34059  2012-10-16   Iceland  Switzerland           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
31893  2010-09-07    Poland  Australia           1           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24422  2002-03-27    Poland     Japan           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24682  2002-08-21    Poland   Belgium           1           1
29383  2007-11-17    Poland   Belgium           2           0

             date home_team away_team  home_score  away_score
29992  2008-06-16    Poland   Croatia           0           1

             date home_team away_team  home_score  away_score
26530  2004-08-18    Poland   Denmark           1           5
29841  2008-06-01    Poland   Denmark           1           1
34853  2013-08-14    Poland   Denmark           3           2
37679  2016-10-08    Poland   Denmark           3           2

             date home_team away_team  home_score  away_score
26635  2004-09-08    Poland   England           1           2
34089  2012-10-17    Poland   England           1           1

             date home_team away_team  home_score  away_score
32608  2011-06-09    Poland    France           0           1

             date home_team away_team  home_score  away_score
32950  2011-09-06    Poland   Germany           2           2
35820  2014-10-11    Poland   Germany           2           0

             date home_team away_team  home_score  away_score
23210  2000-11-15    Poland   Iceland           1           0
27511  2005-10-07    Poland   Iceland           3           2
36903  2015-11-13    Poland   Iceland           4           2

             date home_team away_team  home_score  away_score
28392  2006-10-11    Poland  Portugal           2           1
33427  2012-02-29    Poland  Portugal           0           0
37491  2016-06-30    Poland  Portugal           1           1

             date home_team away_team  home_score  away_score
33684  2012-06-12    Poland    Russia           1           1

             date home_team away_team  home_score  away_score
25789  2003-11-16    Poland    Serbia           4           3
27375  2005-08-15    Poland    Serbia           3           2
28262  2006-09-06    Poland    Serbia           1           1
37079  2016-03-23    Poland    Serbia           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
25597  2003-09-10    Poland    Sweden           0           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
32869  2011-09-02    Poland    Mexico           1           1
38650  2017-11-13    Poland    Mexico           0           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
32577  2011-06-05    Poland  Argentina           2           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
27978  2006-05-30    Poland  Colombia           1           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
34149  2012-11-14    Poland   Uruguay           1           3
38614  2017-11-10    Poland   Uruguay           0           0

             date home_team away_team  home_score  away_score
27411  2005-08-17  Portugal     Egypt           2           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24796  2002-10-12  Portugal   Tunisia           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
28048  2006-06-17  Portugal      Iran           2           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team       away_team  home_score  away_score
24580  2002-06-14  Portugal  Korea Republic           0           1

             date home_team     away_team  home_score  away_score
38613  2017-11-10  Portugal  Saudi Arabia           3           0

             date home_team away_team  home_score  away_score
28702  2007-03-24  Portugal   Belgium           4           0
37220  2016-03-29  Portugal   Belgium           2           1

             date home_team away_team  home_score  away_score
27617  2005-11-12  Portugal   Croatia           2           0

             date home_team away_team  home_score  away_score
22485  2000-03-29  Portugal   Denmark           2           1
30273  2008-09-10  Portugal   Denmark           2           3
31983  2010-10-08  Portugal   Denmark           3           1
36717  2015-10-08  Portugal   Denmark           1           0

             date home_team away_team  home_score  away_score
22781  2000-06-12  Portugal   England           3           2
26008  2004-02-18  Portugal   England           1           1
26399  2004-06-24  Portugal   England           2           2

             date home_team away_team  home_score  away_score
28093  2006-07-05  Portugal    France           0           1
36605  2015-09-04  Portugal    France           0           1
37500  2016-07-10  Portugal    France           1           0

             date home_team away_team  home_score  away_score
22818  2000-06-20  Portugal   Germany           3           0
30002  2008-06-19  Portugal   Germany           2           3

             date home_team away_team  home_score  away_score
33019  2011-10-07  Portugal   Iceland           5           3
37431  2016-06-14  Portugal   Iceland           1           1

             date home_team away_team  home_score  away_score
24564  2002-06-10  Portugal    Poland           4           0

Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
31040  2009-08-12    Russia  Argentina           2           3
38626  2017-11-11    Russia  Argentina           0           1

             date home_team away_team  home_score  away_score
27853  2006-03-01    Russia    Brazil           0           1
34536  2013-03-25    Russia    Brazil           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
33500  2012-05-25    Russia   Uruguay           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
23292  2001-01-23    Serbia     Japan           1           0
35042  2013-10-11    Serbia     Japan           2           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
27232  2005-06-04    Serbia   Belgium           0           0
28344  2006-10-07    Serbia   Belgium           1           0
34023  2012-10-12    Serbia   Belgium           0           3

             date home_team away_team  home_score  away_score
34932  2013-09-06    Serbia   Croatia           1           1

             date home_team away_team  home_score  away_score
35947  2014-11-14    Serbia   Denmark           1           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
31153  2009-09-09    Serbia    France           1           1
35715  2014-09-07    Serbia    France           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
29437  2007-11-21    Serbia    Poland           2           2
30542  2008-12-14    Serbia    Poland           0           1
31645  2010-06-02    Serbia    Poland           0           0

             date home_team away_team  home_score  away_score
28751  2007-03-28    Serbia  Portugal           1           1
36772  2015-10-11    Serbia  Portugal           1           2

             date home_team away_team  home_score  away_score
23639  2001-04-25    Serbia    Russia           0           1

             date home_team away_team  home_score  away_score
22823  2000-06-21    Serbia     Spain           3           4
27158  2005-03-30    Serbia     Spain           0           0

             date home_team away_team  home_score  away_score
30800  2009-04-01    Serbia    Sweden           2           0

             date home_team    away_team  home_score  away_score
23490  2001-03-24    Serbia  Switzerland           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
27960  2006-05-27    Serbia   Uruguay           1           1

             date home_team away_team  home_score  away_score
28008  2006-06-03     Spain     Egypt           2           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
28053  2006-06-19     Spain   Tunisia           3           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
23640  2001-04-25     Spain     Japan           1           0

             date home_team       away_team  home_score  away_score
24594  2002-06-22     Spain  Korea Republic           0           0
31649  2010-06-03     Spain  Korea Republic           1           0
33537  2012-05-30     Spain  Korea Republic           4           1
37303  2016-06-01     Spain  Korea Republic           6           1

             date home_team     away_team  home_score  away_score
31620  2010-05-29     Spain  Saudi Arabia           3           2
33867  2012-09-07     Spain  Saudi Arabia           5           0

             date home_team away_team  home_score  away_score
26697  2004-10-09     Spain   Belgium           2           0
31108  2009-09-05     Spain   Belgium           5           0

             date home_team away_team  home_score  away_score
28021  2006-06-07     Spain   Croatia           2           1

             date home_team away_team  home_score  away_score
26103  2004-03-31     Spain   Denmark           2           0
28707  2007-03-24     Spain   Denmark           2           1

             date home_team away_team  home_score  away_score
26830  2004-11-17     Spain   England           1           0
30688  2009-02-11     Spain   England           2           0
36906  2015-11-13     Spain   England           2           0

             date home_team away_team  home_score  away_score
22839  2000-06-25     Spain    France           1           2
23533  2001-03-28     Spain    France           2           1
28083  2006-06-27     Spain    France           1           3
29603  2008-02-06     Spain    France           1           0
33720  2012-06-23     Spain    France           2           0
34083  2012-10-16     Spain    France           1           1

             date home_team away_team  home_score  away_score
25050  2003-02-12     Spain   Germany           3           1
36015  2014-11-18     Spain   Germany           0           1

             date home_team away_team  home_score  away_score
28754  2007-03-28     Spain   Iceland           1           0

             date home_team away_team  home_score  away_score
22262  2000-01-26     Spain    Poland           3           0
31667  2010-06-08     Spain    Poland           6           0

             date home_team away_team  home_score  away_score
24363  2002-02-13     Spain  Portugal           1           1
26384  2004-06-20     Spain  Portugal           0           1
31730  2010-06-29     Spain  Portugal           1           0

             date home_team away_team  home_score  away_score
26332  2004-06-12     Spain    Russia           1           0
27961  2006-05-27     Spain    Russia           0           0
29926  2008-06-10     Spain    Russia           4           1

             date home_team away_team  home_score  away_score
27500  2005-09-07     Spain    Serbia           1           1
33517  2012-05-26     Spain    Serbia           2           0

             date home_team away_team  home_score  away_score
29388  2007-11-17     Spain    Sweden           3           0

             date home_team    away_team  home_score  away_score
31684  2010-06-16     Spain  Switzerland           0           1

             date home_team   away_team  home_score  away_score
36394  2015-06-11     Spain  Costa Rica           2           1
38630  2017-11-11     Spain  Costa Rica           5           0

             date home_team away_team  home_score  away_score
24189  2001-11-14     Spain    Mexico           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
28398  2006-10-11     Spain  Argentina           2           1
31321  2009-11-14     Spain  Argentina           2           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
32366  2011-02-09     Spain  Colombia           1           0
38146  2017-06-07     Spain  Colombia           2           2

             date home_team away_team  home_score  away_score
26011  2004-02-18     Spain      Peru           2           1
29821  2008-05-31     Spain      Peru           2           1

             date home_team away_team  home_score  away_score
27414  2005-08-17     Spain   Uruguay           2           0
34420  2013-02-06     Spain   Uruguay           3           1
34729  2013-06-16     Spain   Uruguay           2           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
24554  2002-06-07    Sweden   Nigeria           2           1

             date home_team away_team  home_score  away_score
24585  2002-06-16    Sweden   Senegal           1           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
36284  2015-03-31    Sweden      Iran           3           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team       away_team  home_score  away_score
26963  2005-01-22    Sweden  Korea Republic           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team away_team  home_score  away_score
35481  2014-06-01    Sweden   Belgium           0           2
37475  2016-06-22    Sweden   Belgium           0           1

             date home_team away_team  home_score  away_score
25260  2003-04-30    Sweden   Croatia           1           2
26641  2004-09-08    Sweden   Croatia           0           1

             date home_team away_team  home_score  away_score
29171  2007-09-08    Sweden   Denmark           0           0
30889  2009-06-06    Sweden   Denmark           0           1
36915  2015-11-14    Sweden   Denmark           2           1

             date home_team away_team  home_score  away_score
26106  2004-03-31    Sweden   England           1           0
28058  2006-06-20    Sweden   England           2           2
33692  2012-06-15    Sweden   England           2           3
34157  2012-11-14    Sweden   England           4           2

             date home_team away_team  home_score  away_score
30154  2008-08-20    Sweden    France           2           3
33714  2012-06-19    Sweden    France           2           0
38168  2017-06-09    Sweden    France           2           1

             date home_team away_team  home_score  away_score
32156  2010-11-17    Sweden   Germany           0           0
35100  2013-10-15    Sweden   Germany           3           5

             date home_team away_team  home_score  away_score
27591  2005-10-12    Sweden   Iceland           3           1
28885  2007-06-06    Sweden   Iceland           5           0
33538  2012-05-30    Sweden   Iceland           3           2

             date home_team away_team  home_score  away_score
25365  2003-06-11    Sweden    Poland           3           0
26290  2004-06-05    Sweden    Poland           3           1

             date home_team away_team  home_score  away_score
24835  2002-10-16    Sweden  Portugal           2           3
30357  2008-10-11    Sweden  Portugal           0           0
35192  2013-11-19    Sweden  Portugal           2           3

             date home_team away_team  home_score  away_score
35779  2014-10-09    Sweden    Russia           1           1

             date home_team away_team  home_score  away_score
33612  2012-06-05    Sweden    Serbia           2           1

             date home_team away_team  home_score  away_score
22731  2000-06-03    Sweden     Spain           1           1
28347  2006-10-07    Sweden     Spain           2           0
29963  2008-06-14    Sweden     Spain           1           2

             date home_team    away_team  home_score  away_score
24427  2002-03-27    Sweden  Switzerland           1           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date home_team  away_team  home_score  away_score
24573  2002-06-12    Sweden  Argentina           1           1
34421  2013-02-06    Sweden  Argentina           2           3

             date home_team away_team  home_score  away_score
33803  2012-08-15    Sweden    Brazil           0           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date    home_team away_team  home_score  away_score
29406  2007-11-20  Switzerland   Nigeria           0           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date    home_team  away_team  home_score  away_score
31836  2010-09-03  Switzerland  Australia           0           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date    home_team away_team  home_score  away_score
29192  2007-09-11  Switzerland     Japan           3           4

             date    home_team       away_team  home_score  away_score
28068  2006-06-23  Switzerland  Korea Republic           2           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date    home_team away_team  home_score  away_score
37263  2016-05-28  Switzerland   Belgium           1           2

             date    home_team away_team  home_score  away_score
26343  2004-06-13  Switzerland   Croatia           0           0
35348  2014-03-05  Switzerland   Croatia           2           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date    home_team away_team  home_score  away_score
31899  2010-09-07  Switzerland   England           1           3
35725  2014-09-08  Switzerland   England           0           2

             date    home_team away_team  home_score  away_score
25529  2003-08-20  Switzerland    France           0           2
26392  2004-06-21  Switzerland    France           1           3
27548  2005-10-08  Switzerland    France           1           1
35554  2014-06-20  Switzerland    France           2           5
37457  2016-06-19  Switzerland    France           0           0

             date    home_team away_team  home_score  away_score
26264  2004-06-02  Switzerland   Germany           0           2
29700  2008-03-26  Switzerland   Germany           0           4
33518  2012-05-26  Switzerland   Germany           5           3

             date    home_team away_team  home_score  away_score
34935  2013-09-06  Switzerland   Iceland           4           4

             date    home_team away_team  home_score  away_score
23419  2001-02-28  Switzerland    Poland           0           4
37480  2016-06-25  Switzerland    Poland           1           1

             date    home_team away_team  home_score  away_score
29987  2008-06-15  Switzerland  Portugal           2           0
37615  2016-09-06  Switzerland  Portugal           2           0

             date    home_team away_team  home_score  away_score
23010  2000-09-02  Switzerland    Russia           0           1
25324  2003-06-07  Switzerland    Russia           2           2

             date    home_team away_team  home_score  away_score
24025  2001-09-01  Switzerland    Serbia           1           2

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date    home_team away_team  home_score  away_score
23641  2001-04-25  Switzerland    Sweden           0           2

             date    home_team   away_team  home_score  away_score
28271  2006-09-06  Switzerland  Costa Rica           2           0
31638  2010-06-01  Switzerland  Costa Rica           0           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date    home_team  away_team  home_score  away_score
28839  2007-06-02  Switzerland  Argentina           1           1
33435  2012-02-29  Switzerland  Argentina           1           3

             date    home_team away_team  home_score  away_score
28460  2006-11-15  Switzerland    Brazil           1           2
34860  2013-08-14  Switzerland    Brazil           1           0

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date    home_team away_team  home_score  away_score
35494  2014-06-03  Switzerland      Peru           2           0

             date    home_team away_team  home_score  away_score
31545  2010-03-03  Switzerland   Uruguay           1           3

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []

             date   home_team away_team  home_score  away_score
35486  2014-06-02  Costa Rica     Japan           1           3

             date   home_team       away_team  home_score  away_score
24315  2002-01-30  Costa Rica  Korea Republic           3           1
27785  2006-02-11  Costa Rica  Korea Republic           1           0
35280  2014-01-25  Costa Rica  Korea Republic           0           1

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score]
Index: []


In [286]:
processed_data

,Squad,Formation,Tier,Rating,Attack,Midfield,Defence
Country,,,,,,,
Egypt,"[A. El-Shenawy, A. Hegazy, K. Hafez, O. Gaber,...",3-5-2,2,79.00,82.33,83.00,74.17
Morocco,"[Y. Bounou, M. Benatia, A. Hakimi, Z. Feddal, ...",3-5-2,2,81.55,84.00,82.50,78.83
Nigeria,"[V. Enyeama, C. Awaziem, K. Omeruo, U. Agbo, O...",3-5-2,2,82.82,84.50,85.33,79.00
Senegal,"[A. Gomis, K. Koulibaly, K. Mbodj, K. Mbodj, K...",3-5-2,1,84.18,87.25,84.00,81.17
Tunisia,"[F. Ben Mustapha, A. Abdennour, Y. Benalouane,...",3-5-2,3,74.45,78.00,76.00,72.33
Australia,"[M. Ryan, A. Gersbach, T. Sainsbury, B. Wright...",3-5-2,2,77.82,77.33,78.50,77.50
Iran,"[A. Haghighi, M. Mohammadi, K. Ansarifard, K. ...",3-5-2,3,76.55,79.75,79.00,71.67
Japan,"[K. Nakamura, G. Shoji, N. Ueda, M. Hasebe, Y....",3-5-2,2,79.55,80.50,81.00,77.67
Korea Republic,"[Yoon Bo Sang, Kim Min Jae, An Hyeon Beom, Kim...",3-5-2,2,80.36,82.00,79.00,78.83
Saudi Arabia,"[M. Al Owais, M. Hawsawi, O. Hawsawi, Y. Al Sh...",4-4-2,2,77.45,79.33,77.00,76.50
Belgium,"[T. Courtois, T. Alderweireld, L. Dendoncker, ...",3-5-2,1,88.64,90.33,91.00,86.33
Croatia,"[D. Subašić, T. Jedvaj, D. Lovren, S. Vrsaljko...",3-5-2,1,85.55,86.00,87.50,83.00
Denmark,"[K. Schmeichel, J. Vestergaard, S. Kjær, F. Sø...",3-5-2,1,84.55,85.50,87.67,81.67
England,"[J. Butland, M. Keane, A. Oxlade-Chamberlain, ...",3-5-2,1,87.64,90.00,89.00,85.50
France,"[A. Lafont, R. Varane, A. Laporte, S. Umtiti, ...",3-5-2,1,90.73,92.33,91.50,89.00
Germany,"[M. Neuer, N. Süle, J. Boateng, M. Hummels, J....",4-4-2,1,88.82,88.00,89.67,88.50
Iceland,"[R. Rúnarsson, S. Ingason, H. Hermannsson, D. ...",3-5-2,3,75.82,75.50,77.67,74.67
Poland,"[B. Drągowski, K. Glik, L. Piszczek, J. Bednar...",3-5-2,1,84.64,88.50,85.00,81.67
Portugal,"[A. Lopes, Nélson Semedo, Pepe, Rúben Semedo, ...",3-5-2,1,87.73,90.00,89.50,85.33
Russia,"[S. Kritsyuk, G. Dzhikiya, I. Kutepov, E. Nabi...",3-5-2,2,81.82,82.00,83.33,80.50
Serbia,"[F. Manojlović, M. Nastasić, N. Maksimović, V....",3-5-2,2,83.45,85.50,84.00,82.00
Spain,"[De Gea, Sergio Ramos, Héctor Bellerín, Piqué,...",3-5-2,1,89.45,90.50,90.00,88.50
Sweden,"[P. Dahlberg, V. Lindelöf, L. Augustinsson, A....",3-5-2,2,82.64,84.00,85.00,80.83
Switzerland,"[R. Bürki, R. Rodríguez, N. Elvedi, M. Akanji,...",3-5-2,1,84.45,85.67,85.50,83.33
Costa Rica,"[K. Navas, G. González, K. Waston, F. Calvo, C...",4-4-2,3,75.91,80.00,75.75,75.17
Mexico,"[G. Ochoa, D. Reyes, C. Montes, H. Moreno, J. ...",3-5-2,2,82.45,85.00,83.75,80.33
Panama,"[R. Torres, A. Machado, H. Cummings, F. Escoba...",3-5-2,3,70.91,72.00,71.67,68.17
Argentina,"[G. Rulli, M. Musacchio, E. Mammana, J. Foyth,...",3-5-2,1,89.00,91.25,90.00,85.67
Brazil,"[Ederson, Marquinhos, Thiago Silva, Marcelo, N...",3-5-2,1,89.09,91.67,88.50,87.50
Colombia,"[D. Ospina, D. Sánchez, J. Murillo, J. Lerma, ...",3-5-2,2,83.64,83.50,89.00,82.67
Peru,"[P. Gallese, C. Zambrano, A. Callens, A. Rodrí...",3-5-2,3,76.91,77.50,78.33,74.83
Uruguay,"[F. Muslera, D. Godín, J. Giménez, M. Saracchi...",3-5-2,1,85.45,89.50,84.33,84.50

In [261]:
def get_country_squad(country):
    return fifa_dataset[fifa_dataset['Nationality'] == country]

#panama = get_country_squad('Panama')
#print panama
#print panama['Preferred Position']
#print iran['Preferred Position'].unique()
squad_list = [squad_352_strict, squad_442_strict, squad_433_strict, squad_343_strict, squad_532_strict]
squad_name = ['3-5-2', '4-4-2', '4-3-3', '3-4-3', '5-3-2']

#best_rating, best_squad, best_formation = get_best_formation_all(squad_list, 'Germany')
#print best_rating, best_squad, best_formation
#a,b = get_best_squad_n(squad_532_adj, 'Germany', fifa_dataset)
#print a,b
# for i, sq in enumerate(squad_list_adj):
#     print squad_name[i]
#     a,b = get_best_squad_n(sq, 'France', fifa_dataset)
#     print a, b

#print get_country_squad('France')

#rate, saudi, form, info = get_best_formation_all(squad_list_adj, 'Saudi Arabia')
#print saudi
#print rate, saudi, form, info
#
best_rating, best_squad, best_formation, squad_stats = get_best_formation_all(squad_list_adj, 'Senegal')
print get_team_stats(squad_stats)

#print info.split('\n')#[1:11]
# print team

Position Potential
GK 81
CB 87
CB 80
CB 80
CB 80
RB 79
ST 90
LW 87
CAM 87
ST 85
CM 84
(84.0, 81.170000000000002, 87.25)

In [284]:
# #print prior.head(5)
# #print fifa_dataset.tail(5)
# print 
# #print prior.shape
# saudi = fifa_dataset[fifa_dataset['Nationality'] == 'Saudi Arabia']
# print saudi

p=pd.DataFrame(d).reindex_axis(['Country', 'Squad', 'Formation', 'Tier', 'Rating', 'Attack', 'Midfield', 'Defence'], axis = 1).set_index('Country')
p.index.get_values()

array(['Egypt', 'Morocco', 'Nigeria', 'Senegal', 'Tunisia', 'Australia',
       'Iran', 'Japan', 'Korea Republic', 'Saudi Arabia', 'Belgium',
       'Croatia', 'Denmark', 'England', 'France', 'Germany', 'Iceland',
       'Poland', 'Portugal', 'Russia', 'Serbia', 'Spain', 'Sweden',
       'Switzerland', 'Costa Rica', 'Mexico', 'Panama', 'Argentina',
       'Brazil', 'Colombia', 'Peru', 'Uruguay'], dtype=object)

In [210]:


#best_rating, best_squad, best_formation = get_best_formation_all(squad_list, 'Germany')
#print best_rating, best_squad, best_formation



#print best_squad
#get_team_stats(best_squad)
# --- 
#with open()


#------------

# def _pref(x):
#     prefs = temp.get_value(x,'Preferred Positions')
#     attr = []
#     if len(prefs)>1:
#         for i in prefs:
#              t = temp.get_value(x,i)
#              attr.append(t)
#         maxval = max(attr)
#         idx = attr.index(maxval)
#         return prefs[idx]
#     else:
#         return prefs[0]

# rating_352_EN_Overall, best_list_352_EN_Overall = get_best_squad_n(squad_352_strict, curCountry, fifa_dataset, 'Overall')
# rating_352_EN_Potential, best_list_352_EN_Potential = get_best_squad_n(squad_352_strict, curCountry, fifa_dataset,'Potential')

# # 
# print('-Overall-')
# print('Average rating: {:.1f}'.format(rating_352_EN_Overall))
# print(best_list_352_EN_Overall)

# print('-Potential-')
# print('Average rating: {:.1f}'.format(rating_352_EN_Potential))
# print(best_list_352_EN_Potential)

ValueError: too many values to unpack

In [170]:
#np.histogram(scores,3)
#print scores
c=[]
for score in scores:
    if score < 77.: c.append(3)
    elif score < 84.: c.append(2)
    else: c.append(1)

#for s in list(zip(scores, c)): print s
print best_squad.split()

[u'Position', u'Player', u'Potential', u'GK', u'F.', u'Muslera', u'82', u'CB', u'D.', u'God\xedn', u'88', u'CB', u'J.', u'Gim\xe9nez', u'87', u'LWB', u'M.', u'Saracchi', u'85', u'ST', u'L.', u'Su\xe1rez', u'92', u'ST', u'E.', u'Cavani', u'87', u'CM', u'N.', u'N\xe1ndez', u'85', u'RM', u'F.', u'Valverde', u'85', u'CDM', u'M.', u'Lemos', u'83', u'CM', u'L.', u'Torreira', u'83', u'CM', u'R.', u'Bentancur', u'83']

In [179]:
#temp.set_index('Country')
temp = pd.DataFrame(d)
temp.set_index('Country')

,Attack,Defence,Midfield,Overall Rating,Squad,Tier
Country,,,,,,
Egypt,82.33,75.50,81.00,79.00,Position Player Potential\n GK A....,2
Morocco,83.25,79.50,82.50,81.55,Position Player Potential\n GK ...,2
Nigeria,84.00,80.00,85.33,82.82,Position Player Potential\n GK V...,2
Senegal,87.25,82.00,83.50,84.18,Position Player Potential\n G...,1
Tunisia,78.00,72.50,75.25,74.45,Position Player Potential\n GK ...,3
Australia,77.25,78.25,78.50,77.82,Position Player Potential\n GK ...,2
Iran,79.75,74.50,76.50,76.55,Position Player Potential\n GK...,3
Japan,80.50,78.00,80.50,79.55,Position Player Potential\n GK K....,2
Korea Republic,82.00,79.75,79.00,80.36,Position Player Potential\n GK ...,2
Saudi Arabia,79.33,76.80,77.00,77.45,Position Player Potential\n GK ...,2
Belgium,89.25,87.50,91.00,88.64,Position Player Potential\n GK ...,1
Croatia,86.00,83.75,87.00,85.55,Position Player Potential\n GK D...,1
Denmark,84.67,82.75,87.67,84.55,Position Player Potential\n GK ...,1
England,90.00,86.00,88.60,87.64,Position Player Potential\n ...,1
France,92.33,89.50,91.00,90.73,Position Player Potential\n GK ...,1
Germany,88.00,89.00,89.67,88.82,Position Player Potential\n GK M...,1
Iceland,75.00,75.50,77.67,75.82,Position Player Potential\n GK ...,3
Poland,88.50,83.50,84.50,84.64,Position Player Potential\n GK ...,1
Portugal,90.00,86.00,88.33,87.73,Position Player Potential\n GK...,1
Russia,81.67,81.00,83.33,81.82,Position Player Potential\n GK ...,2
Serbia,85.50,82.25,83.75,83.45,Position Player Potential\n ...,2
Spain,89.67,89.25,90.00,89.45,Position Player Potential\n GK ...,1
Sweden,83.60,81.50,85.00,82.64,Position Player Potential\n GK ...,2
Switzerland,85.67,84.25,84.33,84.45,Position Player Potential\n GK ...,1
Costa Rica,80.00,75.80,75.75,75.91,Position Player Potential\n GK ...,3
Mexico,83.50,80.75,83.75,82.45,Position Player Potential\n GK ...,2
Panama,72.00,70.75,71.00,70.91,Position Player Potential\n GK R....,3
Argentina,90.80,86.75,90.00,89.00,Position Player Potential\n GK ...,1
Brazil,91.67,88.25,88.33,89.09,Position Player Potential\n GK ...,1
Colombia,83.20,83.25,89.00,83.64,Position Player Potential\n GK ...,2
Peru,77.50,76.25,77.75,76.91,Position Player Potential\n GK P...,3
Uruguay,89.50,85.50,84.00,85.45,Position Player Potential\n GK F...,1

In [15]:
df.index

Index([u'Cristiano Ronaldo', u'L. Messi', u'Neymar', u'L. Suárez', u'M. Neuer',
       u'R. Lewandowski', u'De Gea', u'E. Hazard', u'T. Kroos', u'G. Higuaín',
       ...
       u'R. White', u'A. Conway', u'T. Sawyer', u'J. Keeble', u'T. Käßemodel',
       u'A. Kelsey', u'B. Richardson', u'J. Young', u'J. Lundstram',
       u'L. Sackey'],
      dtype='object', name=u'Name', length=17981)

In [21]:
# Egypt = fifa_dataset[fifa_dataset['Nationality']=='Egypt']
# Morocco = fifa_dataset[fifa_dataset['Nationality']=='Morocco']
# Nigeria = fifa_dataset[fifa_dataset['Nationality']=='Nigeria']
# Senegal = fifa_dataset[fifa_dataset['Nationality']=='Senegal']
# Tunisia = fifa_dataset[fifa_dataset['Nationality']=='Tunisia']
# Australia = fifa_dataset[fifa_dataset['Nationality']=='Australia']
# Iran = fifa_dataset[fifa_dataset['Nationality']=='Iran']
# Japan = fifa_dataset[fifa_dataset['Nationality']=='Japan']
# Korea = fifa_dataset[fifa_dataset['Nationality']=='Korea Republic']
# SaudiArabia = fifa_dataset[fifa_dataset['Nationality']=='Saudi Arabia']
# Belgium = fifa_dataset[fifa_dataset['Nationality']=='Belgium']
# Croatia = fifa_dataset[fifa_dataset['Nationality']=='Croatia']
# Denmark = fifa_dataset[fifa_dataset['Nationality']=='Denmark']
# England = fifa_dataset[fifa_dataset['Nationality']=='England']
# France = fifa_dataset[fifa_dataset['Nationality']=='France']
# Germany = fifa_dataset[fifa_dataset['Nationality']=='Germany']
# Iceland = fifa_dataset[fifa_dataset['Nationality']=='Iceland']
# Poland = fifa_dataset[fifa_dataset['Nationality']=='Poland']
# Portugal = fifa_dataset[fifa_dataset['Nationality']=='Russia']
# Serbia = fifa_dataset[fifa_dataset['Nationality']=='Serbia']
# Spain = fifa_dataset[fifa_dataset['Nationality']=='Spain']
# Switzerland = fifa_dataset[fifa_dataset['Nationality']=='Sweden']
# CostaRica = fifa_dataset[fifa_dataset['Nationality']=='Costa Rica']
# Mexico = fifa_dataset[fifa_dataset['Nationality']=='Mexico']
# Panema = fifa_dataset[fifa_dataset['Nationality']=='Panema']
# Argentina = fifa_dataset[fifa_dataset['Nationality']=='Argentina']
# Brazil = fifa_dataset[fifa_dataset['Nationality']=='Brazil']
# Colombia = fifa_dataset[fifa_dataset['Nationality']=='Colombia']
# Peru = fifa_dataset[fifa_dataset['Nationality']=='Peru']
# Uruguay = fifa_dataset[fifa_dataset['Nationality']=='Uruguay']

,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€95.5M,€565K,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€105M,€565K,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€123M,€280K,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€97M,€510K,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€61M,€230K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R. Lewandowski,28,https://cdn.sofifa.org/48/18/players/188545.png,Poland,https://cdn.sofifa.org/flags/37.png,91,91,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€92M,€355K,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
De Gea,26,https://cdn.sofifa.org/48/18/players/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,90,92,Manchester United,https://cdn.sofifa.org/24/18/teams/11.png,€64.5M,€215K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,26,https://cdn.sofifa.org/48/18/players/183277.png,Belgium,https://cdn.sofifa.org/flags/7.png,90,91,Chelsea,https://cdn.sofifa.org/24/18/teams/5.png,€90.5M,€295K,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
T. Kroos,27,https://cdn.sofifa.org/48/18/players/182521.png,Germany,https://cdn.sofifa.org/flags/21.png,90,90,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€79M,€340K,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
G. Higuaín,29,https://cdn.sofifa.org/48/18/players/167664.png,Argentina,https://cdn.sofifa.org/flags/52.png,90,90,Juventus,https://cdn.sofifa.org/24/18/teams/45.png,€77M,€275K,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
Sergio Ramos,31,https://cdn.sofifa.org/48/18/players/155862.png,Spain,https://cdn.sofifa.org/flags/45.png,90,90,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€52M,€310K,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
K. De Bruyne,26,https://cdn.sofifa.org/48/18/players/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,89,92,Manchester City,https://cdn.sofifa.org/24/18/teams/10.png,€83M,€285K,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
T. Courtois,25,https://cdn.sofifa.org/48/18/players/192119.png,Belgium,https://cdn.sofifa.org/flags/7.png,89,92,Chelsea,https://cdn.sofifa.org/24/18/teams/5.png,€59M,€190K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A. Sánchez,28,https://cdn.sofifa.org/48/18/players/184941.png,Chile,https://cdn.sofifa.org/flags/55.png,89,89,Arsenal,https://cdn.sofifa.org/24/18/teams/1.png,€67.5M,€265K,...,62.0,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0
L. Modrić,31,https://cdn.sofifa.org/48/18/players/177003.png,Croatia,https://cdn.sofifa.org/flags/10.png,89,89,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€57M,€340K,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
G. Bale,27,https://cdn.sofifa.org/48/18/players/173731.png,Wales,https://cdn.sofifa.org/flags/50.png,89,89,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€69.5M,€370K,...,72.0,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0
S. Agüero,29,https://cdn.sofifa.org/48/18/players/153079.png,Argentina,https://cdn.sofifa.org/flags/52.png,89,89,Manchester City,https://cdn.sofifa.org/24/18/teams/10.png,€66.5M,€325K,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
G. Chiellini,32,https://cdn.sofifa.org/48/18/players/138956.png,Italy,https://cdn.sofifa.org/flags/27.png,89,89,Juventus,https://cdn.sofifa.org/24/18/teams/45.png,€38M,€225K,...,78.0,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0
G. Buffon,39,https://cdn.sofifa.org/48/18/players/1179.png,Italy,https://cdn.sofifa.org/flags/27.png,89,89,Juventus,https://cdn.sofifa.org/24/18/teams/45.png,€4.5M,€110K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P. Dybala,23,https://cdn.sofifa.org/48/18/players/211110.png,Argentina,https://cdn.sofifa.org/flags/52.png,88,93,Juventus,https://cdn.sofifa.org/24/18/teams/45.png,€79M,€215K,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
J. Oblak,24,https://cdn.sofifa.org/48/18/players/200389.png,Slovenia,https://cdn.sofifa.org/flags/44.png,88,93,Atlético Madrid,https://cdn.sofifa.org/24/18/teams/240.png,€57M,€82K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A. Griezmann,26,https://cdn.sofifa.org/48/18/players/194765.png,France,https://cdn.sofifa.org/flags/18.png,88,91,Atlético Madrid,https://cdn.sofifa.org/24/18/teams/240.png,€75M,€150K,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
Thiago,26,https://cdn.sofifa.org/48/18/players/189509.png,Spain,https://cdn.sofifa.org/flags/45.png,88,90,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€70.5M,€225K,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
P. Aubameyang,28,https://cdn.sofifa.org/48/18/players/188567.png,Gabon,https://cdn.sofifa.org/flags/115.png,88,88,Borussia Dortmund,https://cdn.sofifa.org/24/18/teams/22.png,€61M,€165K,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
L. Bonucci,30,https://cdn.sofifa.org/48/18/players/184344.png,Italy,https://cdn.sofifa.org/flags/27.png,88,88,Milan,https://cdn.sofifa.org/24/18/teams/47.png,€44M,€210K,...,79.0,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0
J. Boateng,28,https://cdn.sofifa.org/48/18/players/183907.png,Germany,https://cdn.sofifa.org/flags/21.png,88,88,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€48M,€215K,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
D. Godín,31,https://cdn.sofifa.org/48/18/players/182493.png,Uruguay,https://cdn.sofifa.org/flags/60.png,88,88,Atlético Madrid,https://cdn.sofifa.org/24/18/teams/240.png,€40M,€125K,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
M. Hummels,28,https://cdn.sofifa.org/48/18/players/178603.png,Germany,https://cdn.sofifa.org/flags/21.png,88,88,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€48M,€215K,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
M. Özil,28,https://cdn.sofifa.org/48/18/players/176635.png,Germany,https://cdn.sofifa.org/flags/21.png,88,88,Arsenal,https://cdn.sofifa.org/24/18/teams/1.png,€60M,€265K,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
H. Lloris,30,https://cdn.sofifa.org/48/18/players/167948.png,France,https://cdn.sofifa.org/flags/18.png,88,88,Tottenham Hotspur,https://cdn.sofifa.org/24/18/teams/18.png,€38M,€165K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
M. Hurst,21,https://cdn.sofifa.org/48/18/players/221669.png,Scotland,https://cdn.sofifa.org/flags/42.png,48,58,St. Johnstone FC,https://cdn.sofifa.org/24/18/teams/100804.png,€40K,€1K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A. Osmanoski,17,https://cdn.sofifa.org/48/18/players/239079.png,FYR Macedonia,https://cdn.sofifa.org/flags/19.png,48,68,SpVgg Unterhaching,https://cdn.sofifa.org/24/18/teams/172.png,€60K,€1K,...,47.0,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0
K. Cotter,18,https://cdn.sofifa.org/48/18/players/238833.png,England,https://cdn.sofifa.org/flags/14.png,48,67,Luton Town,https://cdn.sofifa.org/24/18/teams/1923.png,€60K,€1K,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
T. Robinson,19,https://cdn.sofifa.org/48/18/players/225778.png,England,https://cdn.sofifa.org/flags/14.png,48,64,Bradford City,https://cdn.sofifa.org/24/18/teams/1804.png,€60K,€1K,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
R. Hughes,18,https://cdn.sofifa.org/48/18/players/231928.png,Scotland,https://cdn.sofifa.org/flags/42.png,48,63,Hamilton Academical FC,https://cdn.sofifa.org/24/18/teams/184.png,€60K,€1K,...,47.0,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0
Z. Mohammed,17,https://cdn.sofifa.org/48/18/players/240381.png,England,https://cdn.sofifa.org/flags/14.png,48,64,Accrington Stanley,https://cdn.sofifa.org/24/18/teams/110313.png,€50K,€1K,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
D. Peppard,17,https://cdn.sofifa.org/48/18/players/236807.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,47,61,Bohemian FC,https://cdn.sofifa.org/24/18/teams/305.png,€50K,€1K,...,46.0,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0
C. Rogers,17,https://cdn.sofifa.org/48/18/players/237859.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,47,59,Bray Wanderers,https://cdn.sofifa.org/24/18/teams/838.png,€40K,€1K,...,46.0,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0
N. McLaughlin,18,https://cdn.sofifa.org/48/18/players/225319.png,Scotland,https://cdn.sofifa.org/flags/42.png,47,64,Partick Thistle F.C.,https://cdn.sofifa.org/24/18/teams/1754.png,€60K,€1K,...,43.0,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0
L. Kiely,18,https://cdn.sofifa.org/48/18/players/236597.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,47,69,Shamrock Rovers,https://cdn.sofifa.org/24/18/teams/306.png,€70K,€1K,...,41.0,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0
J. Latibeaudiere,17,https://cdn.sofifa.org/48/18/players/233047.png,England,https://cdn.sofifa.org/flags/14.png,47,73,Manchester City,https://cdn.sofifa.org/24/18/teams/10.png,€60K,€5K,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
J. Payne,18,https://cdn.sofifa.org/48/18/players/236425.png,England,https://cdn.sofifa.org/flags/14.png,47,63,Barnet,https://cdn.sofifa.org/24/18/teams/135.png,€50K,€1K,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
G. Manley,19,https://cdn.sofifa.org/48/18/players/238217.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,47,58,Cork City,https://cdn.sofifa.org/24/18/teams/422.png,€50K,€1K,...,46.0,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0
P. Phillips,18,https://cdn.sofifa.org/48/18/players/238985.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,47,67,Cork City,https://cdn.sofifa.org/24/18/teams/422.png,€60K,€1K,...,47.0,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0
A. Byrne,18,https://cdn.sofifa.org/48/18/players/238219.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,47,61,Cork City,https://cdn.sofifa.org/24/18/teams/422.png,€60K,€1K,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
K. Fujikawa,18,https://cdn.sofifa.org/48/18/players/238477.png,Japan,https://cdn.sofifa.org/flags/163.png,47,67,Júbilo Iwata,https://cdn.sofifa.org/24/18/teams/101144.png,€60K,€1K,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
K. Egan,19,https://cdn.sofifa.org/48/18/players/231824.png,England,https://cdn.sofifa.org/flags/14.png,47,67,Exeter City,https://cdn.sofifa.org/24/18/teams/143.png,€60K,€1K,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
T. Brownsword,17,https://cdn.sofifa.org/48/18/players/237974.png,England,https://cdn.sofifa.org/flags/14.png,47,68,Morecambe,https://cdn.sofifa.org/24/18/teams/357.png,€60K,€1K,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
F. Prohart,18,https://cdn.sofifa.org/48/18/players/236954.png,Austria,https://cdn.sofifa.org/flags/4.png,47,67,Wolfsberger AC,https://cdn.sofifa.org/24/18/teams/111822.png,€60K,€1K,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
A. Kilgour,19,https://cdn.sofifa.org/48/18/players/231107.png,England,https://cdn.sofifa.org/flags/14.png,47,56,Bristol Rovers,https://cdn.sofifa.org/24/18/teams/1962.png,€40K,€1K,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
R. White,18,https://cdn.sofifa.org/48/18/players/240325.png,England,https://cdn.sofifa.org/flags/14.png,47,65,Bolton Wanderers,https://cdn.sofifa.org/24/18/teams/4.png,€60K,€2K,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
A. Conway,19,https://cdn.sofifa.org/48/18/players/238306.png,Republic of Ireland,https://cdn.sofifa.org/flags/25.png,47,63,Galway United,https://cdn.sofifa.org/24/18/teams/1571.png,€60K,€1K,...,46.0,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0
T. Sawyer,18,https://cdn.sofifa.org/48/18/players/240403.png,England,https://cdn.sofifa.org/flags/14.png,46,58,Grimsby Town,https://cdn.sofifa.org/24/18/teams/92.png,€50K,€1K,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
J. Keeble,18,https://cdn.sofifa.org/48/18/players/240404.png,England,https://cdn.sofifa.org/flags/14.png,46,56,Grimsby Town,https://cdn.sofifa.org/24/18/teams/92.png,€40K,€1K,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
T. Käßemodel,28,https://cdn.sofifa.org/48/18/players/235352.png,Germany,https://cdn.sofifa.org/flags/21.png,46,46,FC Erzgebirge Aue,https://cdn.sofifa.org/24/18/teams/506.png,€30K,€1K,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
A. Kelsey,17,https://cdn.sofifa.org/48/18/players/237463.png,England,https://cdn.sofifa.org/flags/14.png,46,63,Scunthorpe United,https://cdn.sofifa.org/24/18/teams/1949.png,€50K,€1K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B. Richardson,47,https://cdn.sofifa.org/48/18/players/11728.png,England,https://cdn.sofifa.org/flags/14.png,46,46,Wycombe Wanderers,https://cdn.sofifa.org/24/18/teams/1933.png,€0,€1K,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J. Young,17,https://cdn.sofifa.org/48/18/players/231381.png,Scotland,https://cdn.sofifa.org/flags/42.png,46,61,Swindon Town,https://cdn.sofifa.org/24/18/teams/1934.png,€60K,€1K,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
J. Lundstram,18,https://cdn.sofifa.org/48/18/players/238813.png,England,https://cdn.sofifa.org/flags/14.png,46,64,Crewe Alexandra,https://cdn.sofifa.org/24/18/teams/121.png,€60K,€1K,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
L. Sackey,18,https://cdn.sofifa.org/48/18/players/238308.png,Ghana,https://cdn.sofifa.org/flags/117.png,46,64,Scunthorpe United,https://cdn.sofifa.org/24/18/teams/1949.png,€50K,€1K,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0